<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome To Crypto Ex</title>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<script src="https://kit.fontawesome.com/953e554ec5.js"
	crossorigin="anonymous"></script>
<nav>
	<div id="logo" onClick="location.href='index'">Crypto Ex</div>

	<label for="drop" class="toggle">Menu</label> <input type="checkbox"
		id="drop" />
	<ul class="menu">
		<li><a href="">About Us</a></li>

		<li><a href="cryptoListing">Crypto Listing</a></li>



		<li><a href="">Login</a> <input type="checkbox" id="drop-2" />
			<ul>
				<li><a onClick="openLoginForm()">Login</a></li>
				<li><a href="signup">Sign Up </a></li></li>
		
	</ul>


</nav>

<body>

	<div class="header">
		<h1>Welcome to Cryto Exchange</h1>


	</div>
	<div class="body">
		<label>-----Exchange go here----</label>


 <!-- Pop up for login screen -->
</div>
<div class="popup-overlay" data-backdrop="static" data-keyboard="false"></div>
<div class="popup">
  <div class="popup-close" onclick="closeLoginForm()">&times;</div>
  <form action="loginCustomer" method="post">
  <div class="form">
    <div class="avatar">
      <img src="https://bit.ly/31pHqJb" alt="">
    </div>
    <div class="header">
      Member Login
    </div>
    <div class="element">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required placeholder="Enter Username">
    </div>
    <div class="element">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required placeholder="******">
      <div class="password-btn">
					<div onClick=showPassword() class="eyeButton">
						<i class="fas fa-eye"></i>
					</div>
				</div>
    </div>
    
    <div class="element">
      <button value="login">Login</button>
    </div>
    <div th:if="${errorMessage!=null}">
					<span class="errorMessage" th:text="${errorMessage}"></span>
				</div>
	<div class="signupHere">Dont have an account?	
	<a  href="signup" class="signupUnderline">Sign up here!</a>
	</div>	
				
  </div>
  </form>
</div>
<script>
		function openLoginForm() {
			document.body.classList.add("showLoginForm");
		}
		function closeLoginForm() {
			document.body.classList.remove("showLoginForm");
		}
		function showPassword() {
			var x = document.getElementById("password");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>
 <!-- Pop up for login screen -->


	</div>
	<script type="module" src="main.js"></script>



</body>
</html>