<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome To Crypto Ex</title>
<link rel="stylesheet" type="text/css" href="cryptoListing.css">
</head>
<script src="https://kit.fontawesome.com/953e554ec5.js"
	crossorigin="anonymous"></script>
<nav>
	<div id="logo" onClick="location.href='loginIndex'">Crypto Ex</div>

	<label for="drop" class="toggle">Menu</label> <input type="checkbox"
		id="drop" />
	<ul class="menu">
		<li><a href="">About Us</a></li>

		<li><a href="loginCryptoListing">Crypto Listing</a></li>

		<li><a href="#">Account</a> <input type="checkbox" id="drop-2" />
			<ul>
				<li><a href="customerAccount">Account</a></li>
				<li><a href="logout">Logout </a></li></li>
		
	</ul>

		
			
	</ul>

</nav>

<body>

<!-- Start of table -->
	<div class="header">
	<span>Currency: </span>
	<form action="selectCurrency" method="get">
	<select name="currency" id="currency" onChange="getSelectedCurrency()">
	<option value="USD" >USD</option>
	<option value="SGD" >SGD</option>
	<!-- <option value="AUD">AUD</option>
	<option value="HKD">HKD</option> -->
	</select>
	</form>
	<b hidden th:text="${sgdRate}" id="sgdRate"></b>
	<script >
	
	function getSelectedCurrency(){
		var currencySelected = document.getElementById('currency').value;
		document.getElementById("output").innerHTML = currencySelected;
		
		table = document.getElementById("myTable");
		coinPrice = document.getElementById("coinPrice").innerHTML;
	
		
		
		
		if(currencySelected=="SGD"){
			var rate = document.getElementById('sgdRate').innerHTML;
			var sgdCoinPrice = rate*coinPrice;
			
			document.getElementById("coinPrice").innerHTML = sgdCoinPrice;
			
		}
		
		if(currencySelected=="USD"){
			var rate = document.getElementById('sgdRate').innerHTML;
			var usdCoinPrice = coinPrice/rate;
			document.getElementById("coinPrice").innerHTML = usdCoinPrice;
		}
		
		
	}
	getSelectedCurrency();
	</script>
	
		</div>
	<div class="searchBar">
	<input id="myInput" class="myInput" type="text" placeholder="Search for a coin" onkeyup="searchTable()">
	</div>
	
	<script>
			function searchTable() {
				var input, filter, found, table, tr, td, i, j;
				input = document.getElementById("myInput");
				filter = input.value.toUpperCase();
				table = document.getElementById("myTable");
				tr = table.getElementsByTagName("tr");
				for (i = 0; i < tr.length; i++) {
					td = tr[i].getElementsByTagName("td");
					for (j = 0; j < td.length; j++) {
						if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
							found = true;
						}
					}
					if (found) {
						tr[i].style.display = "";
						found = false;
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		</script>
		<table>
  
  <thead>
  <tr>
    <th>name</th>
    <th>symbol</th>
    <th>price(<a id="output">USD</a>)</th>
    <th>24h %</th>
  </tr>
  </thead>
  
  <tbody id="myTable">
    <tr>
      <td data-label="name">Bitcoin<img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/BTC_Logo.svg" width=20px height=20px></td>
      <td data-label="symbol">BTC</td>
      <td data-label="price" th:text="${bitcoinPrice}" id="coinPrice"></td>
      <td data-label="priceChange" th:text="${bitcoinChange}" th:style="${bitcoinChange<0}?'color:red':'color:green'"></td>
    </tr>
    <tr>
      <td data-label="name">Ethereum<img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Ethereum_logo_translucent.svg" width=20px height=20px></td>
      <td data-label="symbol">ETH</td>
      <td data-label="price" th:text="${ethereumPrice}" id="coinPrice"></td>
      <td data-label="priceChange" th:text="${ethereumChange}" th:style="${ethereumChange<0}?'color:red':'color:green'"></td>
    </tr>
    <tr>
      <td data-label="name">Tether<img src="https://cryptologos.cc/logos/tether-usdt-logo.png" width=20px height=20px></td>
      <td data-label="symbol">USDT</td>
      <td data-label="price" th:text="${tetherPrice}"></td>
      <td data-label="priceChange" th:text="${tetherChange}" th:style="${tetherChange<0}?'color:red':'color:green'"></td>
    </tr>
    <tr>
      <td data-label="name">Binance Coin<img src="https://cryptologos.cc/logos/binance-coin-bnb-logo.png" width=20px height=20px></td>
      <td data-label="symbol">BNB</td>
      <td data-label="price" th:text="${binanceCoinPrice}"></td>
      <td data-label="priceChange" th:text="${binanceCoinChange}" th:style="${binanceCoinChange<0}?'color:red':'color:green'"></td>
    </tr>
    <tr>
      <td data-label="name">USD Coin<img src="https://cryptologos.cc/logos/usd-coin-usdc-logo.png" width=20px height=20px></td>
      <td data-label="symbol">USDC</td>
      <td data-label="price" th:text="${usdCoinPrice}"></td>
      <td data-label="priceChange" th:text="${usdCoinChange}" th:style="${usdCoinChange<0}?'color:red':'color:green'"></td>
    </tr>
    <tr>
      <td data-label="name">Cardano<img src="https://cdn4.iconfinder.com/data/icons/crypto-currency-and-coin-2/256/cardano_ada-512.png" width=20px height=20px></td>
      <td data-label="symbol">ADA</td>
      <td data-label="price" th:text="${cardanoPrice}"></td>
      <td data-label="priceChange" th:text="${cardanoChange}" th:style="${cardanoChange<0}?'color:red':'color:green'"></td>
    </tr>
    <tr>
      <td data-label="name">Ripple<img src="https://i.pinimg.com/originals/d8/9d/14/d89d14e67a5a828f48b26b6207571810.png" width=20px height=20px></td>
      <td data-label="symbol">XRP</td>
      <td data-label="price" th:text="${ripplePrice}"></td>
      <td data-label="priceChange" th:text="${rippleChange}" th:style="${rippleChange<0}?'color:red':'color:green'"></td>
    </tr>
    <tr>
      <td data-label="name">Solana<img src="https://cryptologos.cc/logos/solana-sol-logo.png" width=20px height=20px></td>
      <td data-label="symbol">SOL</td>
      <td data-label="price" th:text="${solanaPrice}"></td>
      <td data-label="priceChange" th:text="${solanaChange}" th:style="${solanaChange<0}?'color:red':'color:green'"></td>
    </tr>
    <tr>
      <td data-label="name">Terra<img src="https://cryptologos.cc/logos/terra-luna-luna-logo.png" width=20px height=20px></td>
      <td data-label="symbol">LUNA</td>
      <td data-label="price" th:text="${terraPrice}"></td>
      <td data-label="priceChange" th:text="${terraChange}" th:style="${terraChange<0}?'color:red':'color:green'"></td>
    </tr>
    <tr>
      <td data-label="name">Polkadot<img src="https://cryptologos.cc/logos/polkadot-new-dot-logo.png" width=20px height=20px></td>
      <td data-label="symbol">DOT</td>
      <td data-label="price" th:text="${polkadotPrice}"></td>
      <td data-label="priceChange" th:text="${polkadotChange}" th:style="${polkadotChange<0}?'color:red':'color:green'"></td>
    </tr>
     
  </tbody>
  
</table>
		
<!-- End of table -->

 



</body>
</html>