<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome To Crypto Ex</title>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<script src="https://kit.fontawesome.com/953e554ec5.js"
	crossorigin="anonymous"></script>
<nav>
	<div id="logo" onClick="location.href='loginIndex'">Crypto Ex</div>

	<label for="drop" class="toggle">Menu</label> <input type="checkbox"
		id="drop" />
	<ul class="menu">
		<li><a href="">About Us</a></li>

		<li><a href="loginCryptoListing">Crypto Listing</a></li>

		<li><a href="#">Account</a> <input type="checkbox" id="drop-2" />
			<ul>
				<li><a href="customerAccount">Account</a></li>
				<li><a href="logout">Logout </a></li></li>
		
	</ul>

		
			
	</ul>

</nav>

<body>

	


 



</body>
</html>